<body>
    <table class="table table-bordered infos">
      <thead>
        <tr>
          <th>Nom</th>
          <td><strong>{{userbyusername[0]?.name}}</strong></td>
        </tr>
        <tr>
          <th>Prénom</th>
          <td><strong>{{userbyusername[0]?.username}}</strong></td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{userbyusername[0]?.email}}</td>
        </tr>
        <tr>
          <th>Téléphone</th>
          <td>{{userbyusername[0]?.tel}}</td>
        </tr>
      </thead>
    </table>
</body>