<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nom Mission </th>
      <th class="date">Date</th>
      <th>Adresse</th>
      <th>Description</th>
      <th>Etat Mission</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of mission">
      <td>{{x.nomMission}}</td>
      <td>{{x.dateMission}}</td>
      <td>{{x.adressMission}}</td>
      <td>{{x.description}}</td>
      <td *ngIf="x.statusMission=='ACCEPTE'"><span class="badge badge-info">{{x.statusMission}}</span></td>
      <td *ngIf="x.statusMission=='ENATTENTE'"><span class="badge badge-warning">{{x.statusMission}}</span></td>
      <td *ngIf="x.statusMission=='EnCours'"><span class="badge badge-primary">{{x.statusMission}}</span></td>
      <td *ngIf="x.statusMission=='Termine'"><span class="badge badge-success">{{x.statusMission}}</span></td>
      <td><button (click)="editmission(x.idMission)" class="btn btn-danger">Modifier</button></td>
      <td><button (click)="delmission(x.idMission)" class="btn btn-danger">Supprimer</button></td>
      <td *ngIf="x.statusMission=='Termine'"><button (click)="annulerfin(x.idMission)" class="btn btn-danger"> Annuler</button></td>
      <td *ngIf="x.statusMission=='ACCEPTE'"><button (click)="missionterminer(x.idMission)" class="btn btn-danger"> Terminer</button> </td>
      </tr>
  </tbody>
</table>