<div style="text-align: center;"><h1>Bonjour, besoin d'aide ? Ça n'a jamais été aussi facile </h1></div><br>

<form name="form">
  <div>
        <label for="">Adresse</label>
        <input type="text"  name="adresse" [(ngModel)]="missionInstance.adressMission">
    </div>
    <div>
        <label for="">Nom de la mission</label>
        <input type="text"  name="typemission" [(ngModel)]="missionInstance.nomMission">
    </div>
    <div>
        <label for="">Date et heure</label>
        <input type="date"  name="date" [(ngModel)]="missionInstance.dateMission" >
    </div>
    <div>
        <label for="">Téléphone</label>
        <input type="tel"  name="telephone" pattern="^(?:0|\(?\+33\)?\s?|0033\s?)[1-79](?:[\.\-\s]?\d\d){4}$"  [(ngModel)]="missionInstance.tel">
    </div>
   
    <div>
        <label for="">Description</label>
        <textarea  name="description" [(ngModel)]="missionInstance.description"></textarea>
    </div>
    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary" (click)="btnadd()">Envoyer</button>
        <button type="reset" class="btn btn-primary">Réinitialiser</button>
    </div>
</form>
