<div style="text-align: center;"><h1>Besoin d'aide ?</h1></div><br>

<form name="form">
    <div>
        <label for="">Adresse</label>
        <input type="text"  name="adresse" [(ngModel)]="missionInstance.adressMission">
    </div>
    <div>
        <label for="">Nom de la mission</label>
        <input type="text"  name="typemission" [(ngModel)]="missionInstance.nomMission">
    </div>
    <div>
        <label for="">Date</label>
        <input type="date"  name="date" [(ngModel)]="missionInstance.dateMission" >
    </div>
    <div>
        <input type="checkbox" name="pref1" value="Jeune">
        <label for="pref1">Jeune</label><br>
        <input type="checkbox" name="pref2" value="Vieux">
        <label for="pref2">Vieux</label><br>
    </div>
    <div>
        <label for="">Description</label>
        <textarea  name="description" [(ngModel)]="missionInstance.description"></textarea>
    </div>

    <div>
        <label for="">Preference </label>
            <select type="text" id="pref-select" name="pref" [(ngModel)]="missionInstance.prefMissionId"
                style="width: 200px;">
                <option *ngFor="let x of pref" [ngValue]="x.id">{{x.prefMissionId}}</option>
                <option *ngFor="let x of pref" [ngValue]="x.id">{{x.prefMissionId}}</option>
            </select>
    </div>
    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary" (click)="btnadd()">Créer</button>
        <button type="reset" class="btn btn-primary">Réinitialiser</button>
    </div>
</form>
