<div style="text-align: center;"><h1>Mettre à jour une mission {{idMission}} </h1></div><br>

<form name="form">
    <div>
        <label for="">Nom de la mission</label>
        <input type="text"  name="typemission" [(ngModel)]="missionrecup.nomMission">
    </div>
    <div>
        <label for="">Adresse</label>
        <input type="text"  name="adresse" [(ngModel)]="missionrecup.adressMission">
    </div>
    <div>
        <label for="">Date</label>
        <input type="date"  name="date" [(ngModel)]="missionrecup.dateMission">
    </div>
    <div>
        <label for="">Description</label>
        <textarea  name="description" [(ngModel)]="missionrecup.description"></textarea>
    </div>
    <div>
        <label for="">Preference </label>
            <select type="text" id="pref-select" name="pref" [(ngModel)]="missionInstance.prefMissionId"
                style="width: 200px;">
                <option *ngFor="let x of pref" [ngValue]="x.id">{{x.prefMissionId}}</option>
                <option *ngFor="let x of pref" [ngValue]="x.id">{{x.prefMissionId}}</option>
            </select>
        </div>
   
    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary" (click)="EditMission()">Modifier</button>
        <button type="reset" class="btn btn-primary">Réinitialiser</button>
    </div>
</form>