
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->

      <div class="fadeIn first">
        <img src="../assets/img/logo3.jpg" id="icon" alt="User Icon" />
      </div>
     
      <div class="fadeIn first">
       Bienvenue chez nous, nous sommes heureux de vous voir rejoindre notre communauté !
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="nom" class="fadeIn third" name="nom" placeholder="Nom & Prénom" [(ngModel)]="userInstance.name">

        <input type="text" id="mail" class="fadeIn third" name="mail" placeholder="adresse mail" [(ngModel)]="userInstance.email">

        <input type="text" id="login" class="fadeIn second" name="login" placeholder="username" [(ngModel)]="userInstance.username">

        <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" [(ngModel)]="userInstance.password">

        <input type="text" id="tel" class="fadeIn third" name="Tel" placeholder="Télephone" [(ngModel)]="userInstance.tel">

        



        


        <input type="submit" class="fadeIn fourth" (click)=" btnaddUser()" value="Enregistrer">
  

      </form>
  
    
  
    </div>
  </div>
