<div style="text-align: center;"><h1>Donner un feedback</h1></div><br>

<form name="form">
    <div>
        <label for="">Nom de la mission</label>
        <input type="text"  name="typemission" [(ngModel)]="missionrecup.nomMission">
    </div>

    <div>
        <label for="">Note</label>
        <select type="text" id="nbetoile" name="nbetoile" [(ngModel)]="selectedValue" style="width: 200px;">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
    </div>

    <div>
        <label for=""> Commentaire</label>
        <input type="textarea" name="commentaire" [(ngModel)]="missionrecup.commentaire">
    </div>

    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary" (click)="MissionRatingStars(selectedValue)">Envoyer</button>
        <button type="reset" class="btn btn-primary">Réinitialiser</button>
    </div>
</form>
