<header><div class="welcome-text"><h1>Informations personnelles</h1></div></header>
  
  <body>
    <table class="table table-bordered infos">
      <thead>
        <tr>
          <th>Nom & Prénom</th>
          <td><strong>{{userbyusername[0]?.name}}</strong></td>
        </tr>
        <tr>
          <th>Nom d'utilisateur</th>
          <td><strong>{{userbyusername[0]?.username}}</strong></td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{userbyusername[0]?.email}}</td>
        </tr>
        <tr>
          <th>Téléphone</th>
          <td>{{userbyusername[0]?.tel}}</td>
        </tr>
      </thead>
    </table>

    <button (click)="edituser()" class="btn btn-danger">Modifier</button>

    <h1> Missions terminées </h1><br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nom Mission </th>
          <th>Date et Heure</th>
          <th>Adresse</th>
          <th>Statut</th>
          <th>Note</th>
          <th>Commentaire</th>
        </tr>
      </thead>
      <tbody *ngFor="let x of historyMissionUserconnecte">
        <tr>
          <td>{{x.nomMission}}</td>
          <td>{{x.dateMission}}</td>
          <td>{{x.adressMission}}</td>
          <td><span class="badge badge-success">Terminé</span></td>
          <td *ngIf="x.feedbackNote=='ETOILE0' ">Sans note</td>
          <td *ngIf="x.feedbackNote=='ETOILE1'">&#11088;</td>
          <td *ngIf="x.feedbackNote=='ETOILE2'">&#11088;&#11088;</td>
          <td *ngIf="x.feedbackNote=='ETOILE3'">&#11088;&#11088;&#11088;</td>
          <td *ngIf="x.feedbackNote=='ETOILE4'">&#11088;&#11088;&#11088;&#11088;</td>
          <td *ngIf="x.feedbackNote=='ETOILE5'">&#11088;&#11088;&#11088;&#11088;&#11088;</td>
          <td> {{x.commentaire}}</td>
          <td><button (click)="Feedback(x.idMission)">Laisser un feedback</button></td>
        </tr>
      </tbody>
    </table>
  </body>