<div class="container">
    <div class="row">
      <div class="col-8">
        <h3>Bonjour Thomas ! Prêt pour vos prochaines missions ?  </h3> 
      </div>
      <div class="col-4">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitches"  (click)="click($event)" >
          <label class="custom-control-label" for="customSwitches"></label>
        </div>
      </div>
      
    </div>
  </div>

<br>
<div class="container" *ngIf="CheckedBx" >
    <div class="row">
      <div class="col-7">
        <mgl-map [style]="'mapbox://styles/mapbox/streets-v9'"  [center]="[-74.5, 40]" [zoom]="[9]">  </mgl-map>
    </div>
      
    <div class="col-4" *ngFor="let mission of mission">
      <p style="text-align:center" class="bordure"> Mission : <br> Date Mission :  - {{mission.dateMission}} <br> - Adresse : {{mission.adressMission}} <br> - Acheter : {{mission.description}}</p>  
    </div>
      </div>
      
    </div>
  