<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../assets/img/logo3.jpg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        <input type="text" id="name" class="fadeIn second" name="name" placeholder="nom">
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="prenom">
        <input type="text" id="telephone" class="fadeIn second" name="telephone" placeholder="telephone">
        <input type="text" id="email" class="fadeIn second" name="email" placeholder="email">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="mot de passe">
        <input type="submit" class="fadeIn fourth" value="S'inscrire">
      </form>
  
    </div>
  </div>