.nav-item , .navbar-brand {
    
    font-weight: bold;
    font:  sans-serif;
    text-transform: uppercase;
    display: block;
    white-space: pre;
    text-align: right;
    padding-left: 50px;
    color: #FF0000;
    
    
  }
.nav-link {
  
 
}

.body{
    font-family: "Roboto";
   
    
}

.navbar-nav{
  text-align: center;
  padding-left: 100px;

  
}

.login{
  padding-left: 200px;
}


  .navbar-brand{
    
    padding-left: 0px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: auto;

  }

  