mgl-map {
    height: 500px;
   width: 650px;
   border: 1px solid #CCC;

  }
  
  .bordure{
    margin: 0 auto;
    width: 300px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
*{
  padding-top: 2px;
}