<br>
<div class="container">
    <div class="row">
      <div class="col-8 "><h3>Prêt pour vos prochaines missions ? </h3> </div>
      <div class="col-4  ">
        <div class="custom-control custom-switch"     >
          <input type="checkbox" class="custom-control-input" id="customSwitches" (click)="switchon($event)">
          <label class="custom-control-label" for="customSwitches"  (click)="AdresstoLongLAt(this.mission)" ></label>
        </div>
      </div>
    </div>
</div>

<br>
<div class="container" *ngIf="CheckedBx" >
  <div class="row">
    <div class="col-7 ">
      <div>
        <input type="text"  id="range" name="range" placeholder="Entrez une distance" >
        &nbsp; &nbsp; &nbsp; <button type="button" class="btn btn-info" (click)="filter()">Filtrer !</button>
      </div>
      <hr>
      <mgl-map [style]="'mapbox://styles/mapbox/streets-v11'"   [zoom]="[16.6]"     > 
        <!-- Bouttons de navigations -->
        <mgl-control mglNavigation  ></mgl-control>
        
        
        <!-- Localisation utilisateur -->
        <mgl-control mglGeolocate [positionOptions]="{ enableHighAccuracy: true}" [trackUserLocation]="true"  ></mgl-control>
            
        <!-- point de la  mission -->
        <div *ngFor="let l of longlat ; let i = index "  >
          <div *ngIf="this.distanceTab[i] <= this.range  ">
            <mgl-marker #missionmarker [lngLat]="[l.features[0].center[0], l.features[0].center[1]]" > </mgl-marker>
        
            <!-- Popup mission dans la map -->
            <mgl-popup  [marker]="missionmarker" >{{mission[i].nomMission}},{{mission[i].adressMission}}</mgl-popup>
          </div>
          <div *ngIf="this.distanceTab[i] < 2   ">
            <mgl-marker #missionmarker (click)="avancer()" [lngLat]="[l.features[0].center[0], l.features[0].center[1]]" ></mgl-marker>
              <!-- Popup mission dans la map -->
              <mgl-popup  [marker]="missionmarker" >{{mission[i].nomMission}},{{mission[i].adressMission}}</mgl-popup>
          </div>


          <mgl-layer  #missionmarker
          id="route"
          type="line"
          [source]="{
            'type': 'geojson',
            'data': {
                'type': 'Feature',
                'properties': {},
                'geometry': {
                    'type': 'LineString',
                    'coordinates': [
                        [this.maposition[0], this.maposition[1]],
                        [this.longlat[i].features[0]?.center[0], this.longlat[i].features[0]?.center[1]]
                        
                    ]
                }
            }
          }"
          [layout]="{
            'line-join': 'round',
            'line-cap': 'round'
          }"
          [paint]="{
            'line-color': '#888',
            'line-width': 8
          }"
        >
        </mgl-layer>

        
        </div>

       

      </mgl-map>
    </div>
      
    <div class="col-4 ">
         <table class="table table-bordered">
          <thead>
            <tr>
                  <th>Nom Mission </th>
                  <th>Description </th>
                  <th>Date</th>
                  <th>Adresse</th>
                  <th>Distance</th>
                  <th>Durée en Marchant</th>
                  <th>Durée par voiture</th>
                  <th>Durée par vélo</th>
                  <th>Accepter?</th>
            </tr>
          </thead>
          <tbody *ngFor="let x of distanceTab ; let i=index">
            <tr *ngIf="this.distanceTab[i] <= this.range && this.distanceTab[i] > 2    "  >  
              <td>{{mission[i].nomMission}}</td>
              <td>{{mission[i].description}}</td>
              <td>{{mission[i].dateMission}}</td>
              <td >{{mission[i].adressMission}}</td>
              <td>{{x}} KM</td>
              <td>{{secondeminute[i]}} Minutes</td>
              <td>{{secondeminute1[i]}} Minutes</td>
              <td>{{secondeminute3[i]}} Minutes</td>
             <td><button type="button" class="btn btn-success"  (click)="affecterUserMission(useronnecte,mission[i].idMission,0)">Accepter</button> </td>
           
              </tr>

              <tr *ngIf="this.distanceTab[i] < 2  "  >
              
             
                <td>{{mission[i].nomMission}}</td>
                <td>{{mission[i].description}}</td>
                <td>{{mission[i].dateMission}}</td>
                <td >{{mission[i].adressMission}}</td>
                <td>{{x}} KM</td>
                <td>{{secondeminute[i]}} Minutes</td>
                <td>{{secondeminute1[i]}} Minutes</td>
                <td>{{secondeminute3[i]}} Minutes</td>
               <td><button type="button" class="btn btn-success" (click)="affecterUserMission(useronnecte,mission[i].idMission,0)">Accepter</button> </td>
             
                </tr>
            
          </tbody>
        </table>
    </div>
  </div>
</div>
  
<td><button  class="btn btn-success" (click)="secToMin()">Accept</button>      

  

   
 
  
    
   



  
      
    









