html {
  background-color: #56baed;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h1 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px;
  color: #000000;
}


table {
  margin: 0 auto;
  width: 600px;
  height: 200px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  position: center;
  padding-top: 100px;
}

