/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';



@import url('../node_modules/font-awesome/css/font-awesome.min.css');

@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css';


     

html{
    height:100%;
    
  }
   
  body{
    height:100%;
    position: relative;
    
  }
  
   
  #wrap{
    min-height:100%;
    position: relative;
  }
   
  #header{
    position: relative;
  }
  #main{
    position: relative;
    padding-bottom: 28%;
  }
  footer{
    height: 100px;
    
    position: absolute;
    bottom: 0;
    background-color: black;
   
  
  }

  .page-footer{
    
    
    position: absolute;
    bottom: 0;
    background-color:rgba(128, 128, 128, 0.199);
    width: 100%;
    height: 250px;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  

  .fa {
    padding: 20px;
    font-size: 17px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }


  