<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->

      <div class="fadeIn first">
        <img src="../assets/img/logo3.jpg" id="icon" alt="User Icon" />
      </div>
     
      <div class="fadeIn first">
       Vous avez oublié votre mot de passse ? <br> 
       Esssayer d'entrer une adresse mail valide 
      </div>
  
      <!-- Login Form -->
      <form>

        <input type="text" id="mail" class="fadeIn third" name="mail" placeholder="adresse mail">

            <br>
            <br>
            <br>

     

        <input type="submit" class="fadeIn fourth" value="Envoyer">
  

      </form>
  
      <div id="formFooter">
        <a class="underlineHover" href="/login">Retour Page Précedente</a>
        <br>
    
  
    </div>
  </div>