<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../assets/img/logo3.jpg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Identifiant">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="Mot de passe">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="/lostpassword">Mot de passe oublié ?</a>
        <br>
        <a class="underlineHover" routerLink="/register">Nouvel utilisateur ?</a>
      </div>
  
    </div>
  </div>